{% extends "base.html" %}

{% block header %}
<div class="header-class">
    <a href="https://www.kth.se/" style="margin-right: 20px; margin-left: 20px;">
        <img src="https://www.kth.se/img/logotype-white-6f02f4554cba157ca832fa452bf242a4.svg" alt="KTH Logo" style="height: 70px;">
    </a>
    <div style='header-div-column'>
        <h2 class="header-h2">User area</h2>
        <h3 class="header-h3">PDC Center for High Performance Computing</h3>
    </div>
</div>
<div class="header-div-row">
    <a class="header-a" href="https://www.pdc.kth.se">PDC</a>
    <a class="header-a" href="/">Support</a>
    <a class="header-a" href="/applications/">Applications</a>
    <a class="header-a" href="/external/statistics.html">System statistics</a>
    <a class="header-a" href="/external/system_status.html">System status</a>
</div>
{{ super() }}
{% endblock %}
